// cse variables setup
//== Colors
//
// ## Blue and gold brand colors for use across cse site

$blue-dark: #036 !default;
$blue: #005bba !default;
$blue-light: #f7eff3 !default;

$gold-dark: #f47c20 !default;
$gold: #f78d1d !default;
$gold-light: #ffb519 !default;

$brand-primary-blue: $blue-dark !default;
$brand-primary-gold: $gold !default;
